#content {
	max-width: 850px;
	margin: 0 auto;
	background-color: silver;
	margin-left: 30%;
}


#mw-head {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	max-width: 850px;
}

#left-navigation {
	float: left;
}

#right-navigation {
	float: right;
}

#mw-head ul {
	list-style-type: none;
	display: inline;
}

#mw-head ul li {
	display: inline;
}

#side-bar {
	background-color: orange;
	width: 30%;
}

#footer {
	clear:both;
}

@media all and (max-width: 850px) {
	#content {
		padding: 20px;
	}
	#side-bar {
		min-width: 320px;
	}
}